* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#formulario {
    border: 1px dotted black;
    padding: 10px;
    width: 70vw;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

label {
    width: 10%;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 10px;
}

input, textarea {
    width: 90%;
    margin-bottom: 10px;
}

button {
    width: 100px;
    margin: 0 auto;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid rgb(77, 77, 77);
}

#container-de-posts {
    margin: 10px;
    border-top: 3px double rgb(77, 77, 77);
}

.postagem {
    background-color: rgb(228, 228, 228);
    margin: 5px;
    font-family: sans-serif;
    padding: 5px;
}
.postagem p {
    margin: 10px;
}

.postagem img {
    width: 200px;
}