/* level 1 */
#pond {
    display: flex;
    justify-content: flex-end;
}

/* level 2 */
#pond {
    display: flex;
    justify-content: center;
}

/* level 3 */
#pond {
    display: flex;
    justify-content: space-around;
}

/* level 4 */
#pond {
    display: flex;
    justify-content: space-between;
}

/* level 5 */
#pond {
    display: flex;
    align-items: flex-end;
}

/* level 6 */
#pond {
    justify-content: center;
    align-items:center;
}

/* level 7 */
#pond {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

/* level 8 */
#pond {
    display: flex;
    flex-direction: row-reverse;
}

/* level 9 */
#pond {
    display: flex;
    flex-direction: column;
}

/* level 10 */
#pond {
    display: flex;
    justify-content: flex-end ;
    flex-direction: row-reverse;
}
/* level 11 */
#pond {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* level 12 */
#pond {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

/* level 13 */
#pond {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
}

/* level 14 */
#pond {
    display: flex;
}  
.yellow {
    order: 2;
}

/* level 15 */
#pond {
    display: flex;
}
  
.red {
    order: -1;
}

/* level 16 */
#pond {
    display: flex;
    align-items: flex-start;
}
  
.yellow {
    align-self: flex-end;
}

/* level 17 */
#pond {
    display: flex;
    align-items: flex-start;
}
  
.yellow {
    order: 2;
    align-self: flex-end;
}

/* level 18 */
#pond {
    display: flex;
    flex-wrap: wrap;
}

/* level 19 */
#pond {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* level 20 */
#pond {
    display: flex;
    flex-flow: column wrap;
}

/* level 21 */
#pond {
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start ;
}

/* level 22 */
#pond {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

/* level 23 */
#pond {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
}

/* level 24 */
#pond {
    display: flex;
    flex-flow: wrap-reverse column-reverse;
    justify-content: center;
    align-content: space-between;
}
