body{
    background: rgb(98, 175, 238);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center; 

}

div{
    text-align: center;
    padding: 8px;
}

#resultado{
    text-align: left;
    margin-top: -20px;
}

section{
    background: white;
    border-radius: 20px; 
    padding: 15px;
    width: 450px; 
    margin: auto;
    box-shadow: 5px 5px 5px rgba(63, 61, 61, 0.863);

}
.form{
    text-align: left;
    border-radius: 5px;
    margin-top: 0px;
}

#bntlimpar{
    margin-left: 20%;
}


footer{
    color: white;
    text-align: center;
    font-style: italic;
}