*{
    margin: 0;
    padding: 0;
    border: none;
}


header{
    background-color: #ef843a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 10px;
}

header h1{
    font-size: 40px;
}

header input{
    height: 35px;
    min-width: 30%;
}

#conteudo-galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#grade-de-videos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    width: 90%;
    height: 80%;
    justify-items: center;
    align-items: center;
    gap: 5%;
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid green;
    height: 30vh; 
}

.item img{
    width: 100%;
    height: 80%;
}

.item p {
    padding: 10px;
    color: black;
}

footer{
     height: 10vh;  
    padding: 10px;
    background-color: rgb(78, 76, 76);
    color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}


/* PAGINA DO VIDEO */

#titulo-video {
    font-size: 28px;
    line-height: 38px;
    padding: 20px;
}

#video {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

video {
    width: 80%;
    height: 100%;
}


/* RESPONSIVO */

@media screen and (max-width: 900px) and (min-width:601px){

#conteudo-galeria {
    height: 100vh;
}

#grade-de-videos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 90%;
    height: 70%;
    justify-items: center;
    align-items: center;
    gap: 5%;
    padding: 20px;
}

} 